h1{
    text-align:center;
    color:black;
  }
  .contact{
    text-align:center;
    font-weight:bold;
    color:black;
    margin:40px;
    
  }
  .sent{
    color:black;
    
  }
  /* body{
    background-color:black;
  } */
  h2{
    font-weight:bold;
    color:black;
    PADDING:50PX;
    text-align:center;
    padding-top:50px;
    margin-bottom:0;
    
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  
  }
  .fa-facebook {
    color: black;
  }
  
  .fa-twitter {
    color: black;
  }
  .fa-instagram{
    color:black;
  }
  #footer{
    text-align:center;
  }