#a:hover{
    transform: scale(1.1);
    opacity: 0.8;
}
#b:hover{
    transform: scale(1.1);
    opacity: 0.8;
}
#c:hover{
    transform: scale(1.1);
    opacity: 0.8;
}
#d:hover{
    transform: scale(1.1);
    opacity: 0.8;
}
#photo img {
    margin-top: 40px;
}
#ordern {
   margin-top:40px;
   margin-left:500px;
   color:white;
   background-color:black;
}
#ordern:hover{
    transform: scale(1.1);
}

#pa h3{
margin-top:-50px;
}
