body{
    background-color:wheat;
}
    

#ima {
      margin-top:30px; 
    background-image:url(" ../img/pizza_1.jpg");
    width: 96%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 360px;
    transform: scale(1.1);
    text-align: center; 

}